 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 
 :root {
     --main-font-color-dark: #252525;
     --body-font: 'Lato', sans-serif;
     --body-font-color: #515151;
 }
 
 html {
     font-family: var(--body-font);
     color: var(--body-font-color);
     scroll-behavior: smooth;
 }
 /* header */
 
 header {
     width: 100%;
     height: 46px;
     background: black;
     z-index: 2000;
 }
 
 .menu-toggle {
     display: inline-block;
     color: white;
     padding-left: 20px;
 }
 
 .nav-list {
     display: inline-block;
     margin: 0;
 }
 
 .nav-item {
     display: inline-block;
 }
 
 .nav-item:hover a {
     color: rgb(22, 18, 18);
     background: white;
 }
 
 .nav-link {
     display: inline-block;
     text-decoration: none;
     color: white;
     text-transform: uppercase;
     line-height: 46px;
     padding: 0 20px;
 }
 
 .nav-list .subnav {
     display: none;
 }
 
 .search {
     position: absolute;
     display: inline-block;
     line-height: 46px;
     right: 0;
     margin-right: 20px;
     color: white;
 }
 /* slider */